body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.container {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin: 10% auto;
}

img {
    width: 10vw;
}

.text, .text-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    color: white;
    text-align: center;
}